/*body style*/
body {
	background-color: #EEE2DC;
}

/*navigation bar styles*/
.navbar {
	background-color: #EDC7B7 !important;
}

.nav-link {
	color: #AC3B61 !important;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4rem;
	margin-right: 100px;
}

.nav-link:hover {
	filter: brightness(85%);
}

/*text styles*/
.unitHeader {
	color: #123C69;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3em;
}