.unitContainer {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	display: inline-block;
	text-align: center;
}

.unitHeader {
	text-align: center;
}

.revampedSection {
	margin-top: 30px;
	margin-bottom: 30px;
}

.revampedCredits {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
	font-size: 1.4em;
}

.linkToSimulation {
	font-size: 1.4em;
}