.unitContainer {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-top: 50px;
	text-align: center;
}

.unitHeader {
	text-align: center;
}

.linkToSimulation {
	display: inline-block;
}

.informationText {
	font-size: 1.5em;
	margin-bottom: 20px;
}